@font-face {
  font-family: 'empress' !important;
  src:  url('/fonts/empress.eot?hy80vi');
  src:  url('/fonts/empress.eot?hy80vi#iefix') format('embedded-opentype'),
    url('/fonts/empress.svg?hy80vi#empress') format('svg'),
    url('/fonts/empress.ttf?hy80vi') format('truetype'),
    url('/fonts/empress.woff?hy80vi') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'proxima-nova', 'helvetica', 'arial';
    box-sizing: border-box;
    font-size: 21px;
    color: #131517;
    font-weight: 300;
    line-height: 1.54
}

/*h1 {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -.024em;
    line-height: 1.18;
    margin-bottom: 20px;
    color: #131517;

}

h2 {
    font-size: 28px;
    font-weight: normal;
    letter-spacing: -.008em;
    line-height: 1.24;
    margin-bottom: 20px;
    color: #797C80;
}

ul {
    padding-left: 0;
    list-style: none;
}

ol {
    padding-left: 0;
    list-style: none;
}

li {
    font-size: 21px;
    line-height: 1,78;
}*/

[class^="glyph-"], [class*=" glyph-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'empress' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #000;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TEXT EDITOR */

.glyph-plus::before {
  content: "\e91d";
}

.glyph-images::before {
  content: "\e915";
}
.glyph-link::before {
  content: "\e917";
}
.glyph-code::before {
  content: "\e909";
}
.glyph-quote::before {
  content: "\e920";
}
.glyph-spacing::before {
  content: "\e901";
}

.glyph-bold::before {
  content: "\e906";
}
.glyph-italic::before {
  content: "\e916";
}
.glyph-underline::before {
  content: "\e930";
}
.glyph-title::before {
  content: "\e92e";
}
.glyph-subtitle::before {
  content: "\e92c";
}
.glyph-list::before {
  content: "\e918";
}
.glyph-cap-letter::before {
  content: "\e907";
}

.glyph-full-screen::before {
  content: "\e913";
}
.glyph-neg-margins::before {
  content: "\e91a";
}
.glyph-def-image::before {
  content: "\e90b";
}
